In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [3]:
train.tail()

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
32764,1,23497,16971,117961,118300,119993,118321,240983,290919,118322
32765,1,25139,311198,91261,118026,122392,121143,173805,249618,121145
32766,1,34924,28805,117961,118327,120299,124922,152038,118612,124924
32767,1,80574,55643,118256,118257,117945,280788,280788,292795,119082
32768,1,14354,59575,117916,118150,117920,118568,122142,19721,118570

In [4]:
test.tail()

,id,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
58916,58917,75078,4565,117961,118386,121961,118784,117906,290919,118786
58917,58918,6977,72209,117961,118225,124948,118054,118054,117887,118055
58918,58919,39262,6114,117961,118343,6104,118278,118260,290919,118279
58919,58920,1023,8674,117961,118327,120318,118321,117906,290919,118322
58920,58921,44977,3918,117961,118343,118660,119433,133686,118424,119435

In [5]:
train.shape, test.shape

((32769, 10), (58921, 10))

In [8]:
train.isnull().sum(),test.isnull().sum()

(ACTION              0
 RESOURCE            0
 MGR_ID              0
 ROLE_ROLLUP_1       0
 ROLE_ROLLUP_2       0
 ROLE_DEPTNAME       0
 ROLE_TITLE          0
 ROLE_FAMILY_DESC    0
 ROLE_FAMILY         0
 ROLE_CODE           0
 dtype: int64, id                  0
 RESOURCE            0
 MGR_ID              0
 ROLE_ROLLUP_1       0
 ROLE_ROLLUP_2       0
 ROLE_DEPTNAME       0
 ROLE_TITLE          0
 ROLE_FAMILY_DESC    0
 ROLE_FAMILY         0
 ROLE_CODE           0
 dtype: int64)

In [34]:
train.ACTION.value_counts()

1    30872
0     1897
Name: ACTION, dtype: int64

In [46]:
df = np.loadtxt('data/train.csv', delimiter=',',
               usecols=range(1,9), skiprows=1)

In [57]:
train0 = train.ix[train.ACTION == 0]
train0.shape

(1897, 10)

In [61]:
for i in range(15):
    train = train.append(train0)

In [63]:
train.ACTION.value_counts()

1    30872
0    30352
Name: ACTION, dtype: int64

In [66]:
train.head()

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,39353,85475,117961,118300,123472,117905,117906,290919,117908
1,1,17183,1540,117961,118343,123125,118536,118536,308574,118539
2,1,36724,14457,118219,118220,117884,117879,267952,19721,117880
3,1,36135,5396,117961,118343,119993,118321,240983,290919,118322
4,1,42680,5905,117929,117930,119569,119323,123932,19793,119325

In [113]:
df= pd.concat([train.ix[:,1:],test.ix[:,1:]], axis=0)

df.set_index(np.arange(df.shape[0]),inplace=True)

In [117]:
df_x = df.ix[:,1:]
df_y = df.ix[:,0]
df_x = df_x.astype(str)

In [118]:
df_x = pd.get_dummies(df_x)

In [119]:
df_x.shape

(120145, 9443)

In [121]:
df_x.tail()

,MGR_ID_100,MGR_ID_100035,MGR_ID_100062,MGR_ID_100147,MGR_ID_100318,MGR_ID_10038,MGR_ID_10042,MGR_ID_100547,MGR_ID_10061,MGR_ID_100702,...,ROLE_CODE_216827,ROLE_CODE_239004,ROLE_CODE_240105,ROLE_CODE_240462,ROLE_CODE_247660,ROLE_CODE_254396,ROLE_CODE_258436,ROLE_CODE_266863,ROLE_CODE_268610,ROLE_CODE_270691
120140,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120141,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120142,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120143,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120144,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [127]:
train_x = df_x.ix[:61223,:]
train_y = train.ix[:,0]

In [128]:
train_x.shape, train_y.shape

((61224, 9443), (61224,))

In [131]:
test_x = df_x.ix[61224:,:]

In [138]:
from sklearn.tree import DecisionTreeClassifier

tree1 = DecisionTreeClassifier(criterion='entropy',max_depth=100).fit(train_x,train_y)

In [139]:
from sklearn.metrics import confusion_matrix
confusion_matrix(train_y, tree1.predict(train_x))

array([[26816,  3536],
       [ 2122, 28750]])

In [140]:
from sklearn.metrics import classification_report
print(classification_report(train_y, tree1.predict(train_x)))

             precision    recall  f1-score   support

          0       0.93      0.88      0.90     30352
          1       0.89      0.93      0.91     30872

avg / total       0.91      0.91      0.91     61224